<div class="container">

  <table id="grid">

    <tr data-test="board-row" *ngFor="let row of boardArr; index as rowIndex">
      <td *ngFor="let square of row; index as squareIndex">
        <sudoku-square
          id="cell-{{boardArr.length*rowIndex + squareIndex}}"
          data-test='square'
          [ngClass]="{
            'border-left': squareIndex === 0 || squareIndex % 3 === 0,
            'border-right': squareIndex === 8 || (squareIndex + 1) % 3 === 0,
            'border-top': rowIndex === 0 || rowIndex % 3 === 0,
            'border-bottom': rowIndex === 8 || (rowIndex + 1) % 3 === 0
          }"
          value="{{square === '.' ? '': square}}"
          [disabled]="isDisabled(square)">
        </sudoku-square>
      </td>
    </tr>

  </table>

</div>
