<h1 class="mat-display-3 mb-10 text-center">Select your difficulty:</h1>

<div class="flex flex-col w-96 mx-auto">
  <button data-test="easy" mat-stroked-button class="mat-display-1 p-4 mb-4" type="button" (click)="levelSelected('easy')"> Easy 😊 </button>
  <button data-test="medium" mat-stroked-button class="mat-display-1 p-4 mb-4" type="button" (click)="levelSelected('medium')"> Medium 😅 </button>
  <button data-test="hard" mat-stroked-button class="mat-display-1 p-4" type="button" (click)="levelSelected('hard')"> Hard 🤯 </button>
</div>
